body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

form {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

input, select, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 220px;
}

button {
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}
